apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: 4-configmap-multi-line-cm
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Fenil-Gajjar/k8s-actions-task.git
    targetRevision: main
    path: actions/4 - configmap/multi-line-cm
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
